@font-face{
    font-family: "JetBrains Mono";
    src: url("./JetBrainsMono-Regular.ttf");
    font-style: normal;
}

body{
    font-size: 17px;
    font-family: "JetBrains Mono";
    background-color: #1F1E33;
    color: white;
}
h1#title,a#about,a#repo,div#About\ Me h2,div#About\ Me p,div#Media h2,div#Media p,div#Media h3,div#Media a,div#color a{
    display: flex;
    justify-content: center;
}
a{
    font-size: 20px;
    font-family: "JetBrains Mono";
}
div#About\ Me,div#Menu\&Title,div#Media,div#color{
    background-color: #1F1E33;
    width: 900px;
    height: 400px;
    margin: 0 auto 0;
}
div#Repo *,div#part1 *,div#part2 *,div#part3 *,div#part4 *{
    display: flex;
    justify-content: center;
}
div#Repo,div#part1,div#part2,div#part3, div#part4{
    background-color: #1F1E33;
    width: 750px;
    height: 200px;
    margin: 0 auto;
}